# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.env*.local
.venv
env/
venv/
ENV/
*.bak
*.log

# Databases & local stores
*.db
*.db-journal
*.sqlite
*.csv
*.json
!vercel.json  
# *.html
!package.json
!package-lock.json

# Node / Frontend
node_modules/
dist/
dist-ssr/
.eslintcache
.cache/

# OS specific
.DS_Store
Thumbs.db
desktop.ini
